body {
    background: #7F7FD5;
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* background: #fff url(/images/background-2.jpg) center center/cover no-repeat content-box; */
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.glass {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(19, 63, 107, 0.6);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 30px;
}